@model AirlinesReservationSystem.Models.FlightSchedule

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container mt-2">
    <div class="card">
        <div class="card-header">
            <b style="font-size:1.4rem">@ViewBag.Title</b>
            <a href="@Url.Action("Index")" class="btn btn-secondary pull-right">< Quay lại</a>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-2" for="plane_id">Code FlightSchedule</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="from_airport">@Html.DisplayNameFor(model => model.plane_id)</label>
                    <div class="col-md-10">
                        @Html.DropDownList("plane_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.plane_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="to_airport">@Html.DisplayNameFor(model => model.from_airport)</label>
                    <div class="col-md-10">
                        @Html.DropDownList("from_airport", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.from_airport, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="to_airport">@Html.DisplayNameFor(model => model.to_airport)</label>
                    <div class="col-md-10">
                        @Html.DropDownList("to_airport", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.to_airport, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="departures_at">@Html.DisplayNameFor(model => model.departures_at)</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.departures_at, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                        @Html.ValidationMessageFor(model => model.departures_at, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="arrivals_at">@Html.DisplayNameFor(model => model.arrivals_at)</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.arrivals_at, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                        @Html.ValidationMessageFor(model => model.arrivals_at, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*phần này là thêm số lượng chỗ ngồi*@
                <div class="form-group" hidden >
                    <label class="control-label col-md-2" for="ticket_count">@Html.DisplayNameFor(model => model.totalSeats)</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.totalSeats, new { htmlAttributes = new { @class = "form-control" , @Value = "30" } })
                        @Html.ValidationMessageFor(model => model.totalSeats, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2" for="cost">@Html.DisplayNameFor(model => model.cost)</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
