@model AirlinesReservationSystem.Models.FlightSchedule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FlightSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AirPort.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirPort.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirPort1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirPort1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plane.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plane.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.to_airport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.to_airport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.departures_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.departures_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.arrivals_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivals_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
