@model AirlinesReservationSystem.Models.FlightSchedule

@{ ViewBag.Title = "Cập nhập FlightSchedule";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }

<div class="container mt-2">
    <div class="card">
        <div class="card-header">
            <b style="font-size:1.4rem">@ViewBag.Title</b>
            <a href="@Url.Action("Index")" class="btn btn-secondary pull-right">< Quay lại</a>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.id)

                    <div class="form-group">
                        <label class="control-label col-md-2" for="plane_id">Mã chuyến bay</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="plane_id">Máy bay</label>
                        <div class="col-md-10">
                            @Html.DropDownList("plane_id", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.plane_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="plane_id">Đi từ</label>
                        <div class="col-md-10">
                            @Html.DropDownList("from_airport", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.from_airport, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="plane_id">Đi đến</label>
                        <div class="col-md-10">
                            @Html.DropDownList("to_airport", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.to_airport, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.departures_at, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.departures_at, "{0:yyyy-MM-ddTHH:mm:ss}", new
                            {
                                @class = "form-control",
                                required = "required",
                                @type = "datetime-local"
                            })
                            @Html.ValidationMessageFor(model => model.departures_at, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.arrivals_at, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(x => x.arrivals_at, "{0:yyyy-MM-ddTHH:mm:ss}", new
                            {
                                @class = "form-control",
                                required = "required",
                                @type = "datetime-local"
                            })
                            @Html.ValidationMessageFor(model => model.arrivals_at, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*phần này là thêm số lượng chỗ ngồi*@
                    <div class="form-group" hidden>
                        <label class="control-label col-md-2" for="totalSeats">@Html.DisplayNameFor(model => model.totalSeats)</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.totalSeats, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.totalSeats, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.bookedSeats)
                    @Html.HiddenFor(model => model.availableSeats)

                    @*phần này là thêm trạng thái*@
                    <div class="form-group">
                        <label class="control-label col-md-2" for="status_fs">trạng thái</label>
                        <div class="col-md-10">
                            @Html.DropDownList("status_fs", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.status_fs, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.cost, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.cost, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.cost, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Cập nhập" class="btn btn-success" />
                        </div>
                    </div>
                </div>}
        </div>
    </div>
</div>

@section scripts{
  <script>
      var value = @Model.departures_at;
      console.log(value);
    </script>
}
