@using AirlinesReservationSystem.Helper;
@model IEnumerable<AirlinesReservationSystem.Models.FlightSchedule>

@{
    ViewBag.Title = "Danh sách sân bay";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-2">
    <div class="card">
        <div class="card-header">
            <b>@ViewBag.Title</b>
        </div>
        <div class="card-body table-responsive">
            <a href="@Url.Action("Create")" class="btn btn-primary mb-3"><i class="fa fa-plus" aria-hidden="true"></i> Thêm dữ liệu</a>
            <table id="exdatatable" class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.plane_id)
                        </th>
                        <th style="width : 100px">
                            @Html.DisplayNameFor(model => model.from_airport)
                        </th>
                        <th style="width: 100px">
                            @Html.DisplayNameFor(model => model.to_airport)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.departures_at)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.arrivals_at)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.totalSeats)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.bookedSeats)
                        </th>
                        <th hidden>
                            @Html.DisplayNameFor(model => model.availableSeats)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.status_fs)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.cost)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Plane.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AirPort.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AirPort1.name)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.departures_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.arrivals_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.totalSeats)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.bookedSeats)
                            </td>
                            <td hidden>
                                @Html.DisplayFor(modelItem => item.availableSeats)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.status_fs)
                            </td>
                            <td>
                                @MoneyHelper.showVND(item.cost)
                            </td>
                            <td>
                                <a href="@Url.Action("Edit",new { id = item.id })"><i class="fa fa-pencil" aria-hidden="true"></i></a> |
                                <a href="@Url.Action("Details",new { id = item.id })"><i class="fa fa-book" aria-hidden="true"></i></a> |
                                <a href="@Url.Action("Delete",new { id = item.id })">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/datetime/1.2.0/css/dataTables.dateTime.min.css" rel="stylesheet" />

@section scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.2.0/js/dataTables.dateTime.min.js"></script>

    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            $("#exdatatable").DataTable();
        }
        );
    </script>

}
