@model IEnumerable<AirlinesReservationSystem.Models.TicketManager>

@{
    ViewBag.Title = "YourTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<div class="container">
    <div class="panel panel-default" style="margin-top:30px">
        <div class="panel-heading"><h2>Vé của tôi</h2></div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>
                        Mã chuyến bay
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Mã vé
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FlightSchedule.code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.email)
                        </td>
                        <td>
                            <span class="label label-@item.getLabelStatus()">@item.getStatus()</span>
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.code)
                        </td>
                        <td>
                            <a title="Detail Ticket" data-toggle="modal" data-target="#detailTickModal" data-id="@item.id"><i class="fa fa-eye" aria-hidden="true"></i> |</a>
                            @if (!item.isCancel())
                            {
                                <a title="Cancel Ticket" data-id="@item.id" href="@Url.Action("CancelTicket","Home",new { @id = item.id})" data-confirm="Are your sure canecl ticket?"><i class="fa fa-ban" aria-hidden="true"></i></a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div id="detailTickModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content"></div>
    </div>
</div>
<script>
    $('#detailTickModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var modal = $(this)
        var url = "@Url.Action("DetailTicket", "Home")";
        var id = button.attr("data-id");
        $.ajax({
            url: url,
            type: "get",
            data: {
                id: id,
            },
            dataType: 'html',
            success: function (response) {
                modal.find(".modal-content").html(response);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                modal.modal("hide");
                alert("An error occurred.");
            }
        });
    })
</script>

